  body {
    font-family: 'Sarabun', sans-serif;
    height: 3000px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .hidden {
    display: none
  }

.container {
  width: 1200px;
  margin: auto;
}
.clearfix {clear: both}

/* start navber here */


/* Navber */

header {
  text-align:center;
  background-image: url('../images/header.jpg');
  background-attachment: fixed;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover
  -o-background-size: cover;
  background-size: cover;
  color: #FFF;
  font-weight: bolder

}

header .overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%
}

header  nav  h1 {
   float: left;
}
header  nav h1 span {color:#F7600E }
header .content span {
  color:#F7600E;


}
header  nav > span {
  float: right;
  font-size: 25px;
  margin-top: 10px;

}
header  nav .fa-bars {
  font-size: 25px;

}
header .content {
  padding-top: 300px
}
header .content h2 {
  font-size: 50px
}
header .buttons button{
  padding: 15px 40px;
  color:#FFF;
  background: none;
  border: none;
  border: 1px solid #EEE;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 10px;
  transition: all 0.2s ease-in;
  font-size: 30px

}
header .buttons button:hover {
  background: #F7600E;

}
.arrow .fas {
  margin-top: 200px;
  font-size: 30px;
  border: 2px solid #FFF;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}
/* Start Section featuers*/



.featuers .feat {
  float: left;
  width:  25%;
  margin-top: 60px;
  text-align: center;

}
.featuers .feat .fas {
  font-size: 50px;
  border: 2px solid #000;
  border-radius: 50%;
  padding: 30px
}
.featuers .feat .fas:hover {color: #F7600E; transition: all 0.3s ease-in-out}
.featuers .feat p {line-height: 1.4; padding-left: 40px}


/* start Section concat us */

.concat-us {
  background-image: url('../images/subscribe.png');
  background-position: 50% 50%;
  background-attachment: fixed;
  /* padding-top: 50px; */
  margin-top: 50px;
  height: 400px;
  position: relative;
  z-index: 0;


}
.concat-us .overlay {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;


}

.concat-us .concat-froms {
  text-align: center;
  margin-top: 70px;
}
.concat-us .concat-froms input[type='text']{
  border: none;
  width: 300px;
  border: 2px solid #9999;
  padding: 13px 50px;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 15px;
  background:none;
  margin-top: 100px;
}

.concat-us .concat-froms button {

  padding: 10px 40px;
  border-radius: 10px;
  border:none;
  border: 1px solid #FFF ;
  background: none;
  background-color: #F7600E;
  color:#FFF;
  font-weight: bolder;
  font-size: 20px;
  margin-left: 20px

}

/* Start Our Works */

.our-works {
  text-align: center;
  padding-top: 50px
}

.our-works h1 span {
  color: #F7600E
}

.our-works p {
  margin-top: 50px;
  margin-bottom: 50px;
}
.our-works .works .item {
  float: left;
  width: 33.33333%;
  position: relative;
  transition: all 0.2s ease-in;

}

.our-works .works .hidden {
  display: none
}

.our-works .works .item .overlay {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(247,  96, 14, 0.9);
  border-radius: 20px;
  text-align: center;
  color: #FFF;
  display: none
}
.our-works .works .item:hover  .overlay{display: block;}




.our-works .works  img {
  width: 350px;
  height: 300px;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 0px 0px 15px;

}



  button {
  background-color: none;
  border:none;
  background-color:  #F7600E;
  border-radius: 30px;
  color: #FFF;
  padding: 15px 40px;
  font-weight: bolder;
}


/* start section says */

.says {
  text-align: center;
  background-image: url('../images/testimonials.png');
  background-size: cover;
  background-position: 50% 50%;
  height: 400px;
  margin-top: 50px;
  color: #FFF;
  font-weight: bolder;
}
.says .overlay {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%
}
.says .content {padding-top: 150px}
.says .content img {
  border-radius: 50%;
  width: 150px;
}
.says .content p {font-style: italic;}

.arrows .arrow-left {
  float: left;
  color: #999;
  padding-top: 300px;
  font-size: 40px
}
.arrows .arrow-right {
  float: right;
  color: #999;
  padding-top: 300px;
  font-size: 40px
}
